$color-background: pink;
$color-text: black;
$color-theme: #77e7e1;
$color-theme-inverted: #0d3750;

$font-family: "Didact Gothic", sans-serif;

$size-radius-small: 8px;
$size-radius-large: 100%;
$size-rem: 1.6rem;
